*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
    color: white;
}
 i .fa-solid{
    color: whitesmoke;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/headerimg.jpg);
    height: 700px;
    width: 1530px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 5px solid gray;

}
nav{
    display: flex;
    align-items: normal;
    justify-content: space-around;

}
.logo{
    width: 200px;
    margin-top: 100px;

}
button{
    margin-top: 120px;
    height: 40px;
    width: 100px;
    margin-inline: 20px;
}
.b1{
    background: transparent;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 8px;
    width: 140px;
    border: 2px solid gray;
}
.b1:hover{
    border: 1px solid white;

}
.b2{
    background-color: red;
    color: whitesmoke;
    font-size: 25px;
    border-radius: 8px;

}
.b3{
    border: 1px solid white;
    background-color:red;
    color: whitesmoke;
    font-size: 30px;
    width: 14%;
    margin-top: 12px;
    margin-left: -1px;
    overflow: hidden;
    border-radius: 8px;

}

p{
    text-align: center;
    margin-top: 15%;
    font-size: 25px;
}
b{
    font-size: 60px;
    align-items: center;
    justify-content: center;
}
.start{
    font-size: 20px;
    cursor: pointer;

}
input{
    height: 38px;
    width: 19%;
    font-size: 20px;
    border-radius: 8px;
    margin-right: 30px;
    background: transparent;
    border: 2px solid whitesmoke;
    color: white;
}
 input::placeholder{
    color: white;
}
.sec-1{
    justify-content: space-evenly;
    border-bottom: 5px solid gray;
    display:flex;
}
.tv-content{
    margin-top: 8%;
    font-size: 30px;
}
.sec-2{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid gray;

}
.mobile-content{
    margin-top: 8%;
    font-size: 30px;
}
.sec-3{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid gray;

}
.device-content{
    margin-top: 8%;
    font-size: 30px;
}
.sec-4{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid gray;

}
.children-content{
    margin-top: 8%;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 50px;
}
.part-1{
    height: 60px;
    width: 900px;
    background-color:gray;
    margin-left: 20%;
    color: whitesmoke;
    font-size: 30px;
}
.part-1:hover{
    background-color: darkgray;
}
h2{
    text-align: center;
}
#s1{
    text-align: end;
}
.sec-5{
    border-bottom: 5px solid gray;
    padding-top: 30px;
    padding-bottom: 60px;

}
.sec-6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
a{
    color: whitesmoke;
    font-size: 20px;
}
.part-2{
    margin-top: 100px;
    margin-bottom: 100px;

}
h4{
    margin-top: 40px;
    margin-left: 17%;

}
h3{
    color: whitesmoke;
    margin-top: 40px;
    margin-left: 17%;
}
.b4{
    margin-left: 17%;
    margin-top: 10px;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 8px;
    width: 140px;
    border: 2px solid gray;


}
.b4:hover{
    
    border: 1px solid white;

}
details{
    height: 60px;
    width: 900px;
    background-color:gray;
    margin-left: 20%;
    color: whitesmoke;
    font-size: 30px;
}

video{
    width: 448px;
    height: 440px;
}